# for OSX

.DS_Store



# for gradle

.gradle/

build/

*/build/



# for studio

.idea/

*.iml

/local.properties



# for others

/captures

*.log

*.apk

*.dex

*.class

*/bin/

*/gen/

.settings

.classpath



# for tar

*.zip

*.gz

*.tar.gz

*.rar

*.7z

*.iso

*.ipk

*.hprof

*.bak


