language: android

sudo: false

notifications:
  email: false

jdk:
  - oraclejdk8
  
android:
  components:
  
        - tools
        - platform-tools
        
        - build-tools-25.0.2
        - android-25

        - extra-android-m2repository
        - extra-android-support

        - add-on
        - extra

before_install:     
  - chmod +x gradlew
 
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

script:
  - ./gradlew assembleRelease
     
after_success:
  - ./gradlew bintrayUpload
